.modal-profile {

  h4 {
    font-size: 18px;
  }

  .profile-item {
    p {
      font-size: 0.85em;
      font-weight: 300;
    }
  }

  .modal-main {
    width: 300px;
    margin: 30px auto;
    margin-bottom: 0px;
    color: black;

    .CircleImageIcon {
      width: 100%;

      img {
        display: block;
        height: 260px;
        width: 260px !important;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
      }

      div {
        width: 32px !important;
        height: 32px !important;
        font-size: 32px;
        border-width: 5px !important;
        left: 221px !important;
        top: -90px !important;

      }
    }
  }


  .shroud {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
    background-color: white;
    background: rgba(255,255,255,0.8);
  };

  .modal {
    height: 83.4%;
    background: #F6F9FC;
    z-index: 5;
    position: fixed;
    width: 100%;
    overflow: scroll;

    .profile-item {
      left: -10px;
      top: 6px;
    }

    @media (min-width: 600px) {
      .profile-item {
        left: 0px;
        top: 6px;
      }
    }
  }

  header {
    padding-top: 26px;
    padding-left: 19px;
  }
}

.modal-content {

  overflow: scroll;
  top: 260px;
  position: relative;
  letter-spacing: 0.04em;

  p, span {
    color: #667486;
  }

  h3 {
    font-size: 1.1em;
    font-weight: 400;
    padding-bottom: 4px;
  }

  h2 {
    font-size: 1.25em;
    font-weight: 500;
    padding-bottom: 8px;
  }

  p:nth-of-type(1) {
    font-size: 0.87em;
    font-weight: 300;
    padding-bottom: 33px;
  }

  .notifications {
    font-weight: 300;
    font-size: 0.9em;
    padding-bottom: 28px;
  }

  span {
    font-style: italic;
    font-weight: 300;
    font-size: 0.8em;
    display: block;
    padding-bottom: 47px;
  }

  .big-buttons {
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 23px;
  }

  .big-buttons.first {
    padding-bottom: 13px;
  }

}



