.recents-list {
  font-size: 10px;

  .profile-item {
    height: 57px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 600px) {
  .recents-list {
    left: -20px;
    position: relative;
  }
}