.slide-in-left-container {
  width: 100%;
}

.slide-in-left-enter {
  position: relative;
  transform: translateX(-25%);
  transition: transform 150ms linear;
}

.slide-in-left-enter.slide-in-left-enter-active {
  position: relative;
  transform: translateX(0%);
  transition: transform 150ms linear;
}

.slide-in-left-leave {
  position: relative;
  transform: translateX(0%);
  transition: transform 150ms linear;
}

.slide-in-left-leave.slide-in-left-leave-active {
  position: relative;
  transform: translateX(25%);
  transition: transform 150ms linear;
}

