/*$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;*/
$light-blue: rgb(151, 216, 245);
$light-gray: #8CA8B4;
$dark-gray: rgb(148, 153, 156);

/* TYPOGRAPHY */
$font-size-sub: 14px;

img {
  height: 100%;
  width: 100%;
}

._profile-item {
  white-space: nowrap;

  .icon-container {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;

    background-color: $light-blue;

    .status-circle {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 25px;
      left: 30px;

      background: white;
      border-radius: 100%;
      border: 2px solid $dark-gray;
      box-shadow: white 0px 0px 0px 3px;
    }
  }

  ._profile-texts {
    display: inline-block;
    padding-left: 22px;
    vertical-align: top;

    .sub {
      padding-top: 3px;

      font-style: italic;
      font-size: $font-size-sub;
      color: $light-gray;
    }
  }
}