/*$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;*/
$light-blue: rgb(151, 216, 245);
$lightish-blue: rgb(199, 237, 252);
$lighter-blue: #EFF6F9;
$light-gray: #8CA8B4;
$dark-gray: rgb(148, 153, 156);

/* TYPOGRAPHY */
$font-size-sub: 14px;

img {
  height: 100%;
  width: 100%;
  border: none;
}

._profile-item {
  white-space: nowrap;

  .icon-container {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;

    background-color: $light-blue;

    .status-circle {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 25px;
      left: 30px;

      background: white;
      border-radius: 100%;
      border: 2px solid $dark-gray;
      box-shadow: white 0px 0px 0px 3px;

      .green   { background: 'green' }
      .yellow  { background: 'yellow'}
      .red     { background: 'red'   }
    }


  }

  ._profile-texts {
    display: inline-block;
    padding-left: 22px;
    vertical-align: top;

    .sub {
      padding-top: 3px;

      font-style: italic;
      font-size: $font-size-sub;
      color: $light-gray;
    }
  }
}

/**************************************/
/*               MODAL                */
/**************************************/

.modal-profile {

  h4 {
    font-size: 18px;
  }

  .profile-item {
    p {
      font-size: 0.85em;
      font-weight: 300;
    }
  }

  .modal-main {
    width: 300px;
    margin: 30px auto 0px auto;

    .img-container {
      display: block;
      height: 260px;
      width: 260px;
      margin: auto auto 32px auto;

      img {
        background: $light-blue;
        border-radius: 100%;
      }
    }
  }

  .shroud {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
    background-color: white;
    background: rgba(255,255,255,0.8);
  };

  .modal {
    height: 83.4%;
    background: #F6F9FC;
    z-index: 100;
    position: fixed;
    width: 100%;
    overflow: scroll;

    .profile-item {
      left: -10px;
      top: 6px;
    }
  }

  header {
    padding-top: 26px;
    padding-left: 19px;
  }
}

.modal-content {

  letter-spacing: 0.04em;

  ._profile-item {
    .icon-container {
      display: none;
    }

    ._profile-texts {
      padding: 0px 0px 35px 0px;
    }
  }

  p, span {
    color: #667486;
  }

  h3 {
    padding-bottom: 4px;
    font-size: 1.1em;
    font-weight: 400;
  }

  h2 {
    display: flex;
    padding-bottom: 8px;
    font-size: 1.25em;
    font-weight: 500;

    i {
      padding-left: 18px;
      font-size: 13px;
    }
  }

  p:nth-of-type(1) {
    font-size: 0.87em;
    font-weight: 300;
    padding-bottom: 33px;
  }

  .notifications {
    padding-bottom: 28px;
    font-size: 0.9em;
    font-weight: 300;
  }

  span {
    display: block;
    padding-bottom: 39px;
    font-style: italic;
    font-weight: 300;
    font-size: 0.8em;
  }

  .big-buttons {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 23px;

    i {
      padding-right: 13px;
      font-size: 22px;
    }

    p {
      display: inline-block;
      padding-bottom: 0;
    }

    .first {
      padding-bottom: 13px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

/**************************************/
/*              Aside                 */
/**************************************/

aside {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.name-heading {
  position: relative;
  padding-left: 18px;
  top: -26px;
  z-index: 3;
}

.big-sidebar-list {
  flex: 1;
}

/**************************************/
/*           Recents List             */
/**************************************/

.recents-list {
  li {
    padding: 7px 18px 7px 18px;
  }

  li.selected {
    background: $lightish-blue;
  }

  li:hover {
    background: $lighter-blue;
    cursor: pointer;
  }
}

/**************************************/
/*              Clouds                */
/**************************************/

.cloud-background {
  position: relative;
  height: 55px;
  width: 100%;
  top: 0;
  background: #B2E7FA;
  z-index: 1;
  overflow: hidden;
}

.white-circle {
  position: absolute;
  height: 75px;
  width: 100px;
  border-radius: 100%;
  background-color: white;
  overflow: hidden;
}

.cloud-5 {
  height: 94px;
  width: 124px;
  left: 255px;
  top: -16px;
}

.cloud-4 {
  height: 88px;
  width: 177px;
  left: 125px;
  top: -10px;
}

.cloud-3 {
  height: 102px;
  width: 118px;
  left: 50px;
  top: 7px;
}

.cloud-2 {
  height: 60px;
  width: 60px;
  left: 9px;
  top: 21px;
}

.cloud-1 {
  height: 41px;
  width: 59px;
  left: -34px;
  top: 37px;
}

.deep-blue-cloud {
  height: 74px;
  width: 74px;
  top: 14px;
  left: 2px;
  background-color: #73C8F1;
  z-index: -28;
}

.light-blue-cloud {
  height: 88px;
  width: 88px;
  top: 7px;
  left: -5px;
  background-color: #9EDBF5;
  z-index: -29;
}



