.create-room-view {
  height: 100%;
  background: #F6FAFC !important;


  .header-message-interface {
    p {
      font-size: 0.85em;
    }
  }

  h1 {
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 6px;
  }

  .colored-container {
    margin: 0 20px 0 20px;
  }

  .input-container {
    padding: 20px;
    border-bottom: 1px solid rgb(214, 230, 236);
    border-left: 1px solid rgb(214, 230, 236);
    border-right: 1px solid rgb(214, 230, 236);
    input {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 0.84em;
    }

    input:focus {
      outline: none;
    }
  }

  .header-message-interface {
    height: 60px;
  }

  .header-message-interface:before {
    margin: 0;
  }

  div {
    background: white;
  }

  .contacts-list-scroll {
    height: 300px;
    overflow: scroll;
    margin-bottom: 0;
    border-left: 1px solid rgb(214, 230, 236);
    border-right: 1px solid rgb(214, 230, 236);
  }

  .friend-adder-bottom-buttons {
    position: relative;
    padding: 10px;
    overflow: auto;
    border-bottom: 1px solid rgb(214, 230, 236);
    border-left: 1px solid rgb(214, 230, 236);
    border-right: 1px solid rgb(214, 230, 236);
  }

  .contacts-pane {
    border-left: 1px solid rgb(214, 230, 236);
    border-right: 1px solid rgb(214, 230, 236);
    font-size: 0.76em;
    padding: 18px;
    padding-left: 36px;
    font-weight: 500;
  }

  .contacts-list {
    overflow: scroll;
    padding-left: 50px;
    height: 300px;
  }

  .contacts-list-item {
    background: transparent;

    div {
      background: transparent;
    }
  }

  .contacts-list-item:hover {
    background: #F0F6F9;
  }

  .button-set {
    float: right;

    .cancel {
      background-color: #66cff6;
      margin-right: 12px;
    }

    .cancel:hover {
      background-color: #6DC5F0;
    }

    .confirm {
      background-color: #4AAEEA;
    }

    .confirm:hover {
      background-color: #3682B0;
    }
  }

  button:focus {
    outline: none; 
  }

  button:hover {
    cursor: pointer;
  }

  button {
    width: auto;
    min-width: 130px;
    height: 30px;
    border-radius: 3em;
    color: white;
    border: none;


    span {
      font-weight: 600;
      line-height: 1.3334em;
      padding: 0 22px;
    }
  }

  .room-to-add {
    border-left: 1px solid rgb(214, 230, 236);
    border-right: 1px solid rgb(214, 230, 236);
    border-bottom: 1px solid rgb(214, 230, 236);
    overflow: scroll;
    max-height: 100px;
  }







}