.input-message-interface {
  position: relative;
  bottom: 0;
  background: white;
  width: 100%;

  .input-header {
    margin-top: 10px;
    padding-bottom: 25px;
    p {
      font-size: 13px;
      margin-left: 30px;
    }

  }

  .form-holder {
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 42px;
  }

  form {
  }

  button {
    border-radius: 100%;
    border: none;
    background: #4AAEEA;
    width: 43px;
    height: 43px;
  }

  .icon-airplane {
    font-size: 21px;
    transform: rotate(25deg);
    color: white;
  }

  .icon-set {
    display: flex;
    color: #4AAEEA;
    font-size: 21px;
    align-items: center;
  }

  .icon-paperclip {
    transform: rotateY(180deg);
    padding-right: 36px;
  }

  .icon-smile {
    padding-left: 21px;
  }

  .icon-picture {
    padding-left: 30px;
  }

  .airplane {
    margin-left: 20px;
  }

  textarea::-webkit-input-placeholder {
    color: #4AAEEA;
    font-weight: 300;
  }

  .input-message-input {
    padding-left: 30px;
    padding-right: 30px;

    textarea {
      display: inline-block;
      width: 79%;
      font-size: 0.8em;
      border: none;
      overflow: auto;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.input-message-interface:before {
  border-top: 1px solid #D6E6EC;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 30px;
  position: absolute;
  right: 0;
  top: 0;
  transition: margin 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}






