aside {
  > .profile-item {
    z-index: 1;
    top: -23px;
    left: 19px;
  }
}

.aside-buttons {
  padding: 0px 15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.aside-buttons li {
  display: inline-block;
  background: url(../../images/button-icons.png);
  background-size: 14.9em;
  width: 43px;
  background-position-x: 2px;
  background-position-y: 4px;
  height: 43px;
  border-radius: 100%;  
}

.aside-buttons li:hover {
  background-color: #E0F3FC;
}


.aside-contacts {
    background-position-x: -20.8px !important;
    background-position-y: 4px !important;
}

.aside-robot {
    background-position-x: -55px !important;
    background-position-y: -49px !important;
}

.aside-phonepad {
    background-position-x: -97px !important;
    background-position-y: -80px !important;
}

.aside-gear {
    background-position-x: -135px !important;
    background-position-y: -48px !important;
}

.aside-plus {
    background-position-x: -160.5px !important;
    background-position-y: -82px !important;
}

@media (max-width: 600px) {
  .aside-buttons {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .aside-buttons li {
    border-radius: 0%;  
    width: 57px;
  }
}



